{% load static %}
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -about">
                        <div class="center-line-title">
                            <h5>About us</h5>
                        </div>
                        <p>{{ description }}</p>
                        <div class="contact-method">
                            <p><i class="fas fa-map-marker-alt"></i>{{ location }}</p>
                            <p><i class="far fa-mobile-android"></i>{{ phone_number }}</p>
                            <p><i class="far fa-envelope-open"></i>{{ email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -feature-post">
                        <div class="center-line-title">
                            <h5>Feature posts</h5>
                        </div>
                        <div class="feature-post-block">
                            {% for post in feature_posts %}
                                <div class="post-card -tiny">
                                    <a class="card__cover" href="{% url 'post' post.slug %}">
                                        <!-- img size 360 x 360 -->
                                        <img src="{{ post.image.url }}"
                                             alt="Post Pic"/>
                                    </a>
                                    <div class="card__content">
                                        <h5 class="card__content-category">Open source</h5>
                                        <a class="card__content-title"
                                           href="{% url 'post' post.slug %}">{{ post.title }}</a>
                                        <div class="card__content-info">
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p>{{ post.created_at }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="footer-col -util">
                        <div class="row">
                            <!-- Blog Tags -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Categories</h5>
                                </div>
                                <div class="tags-group"><a class="tag-btn" href="{% url 'blog' %}">Fuse</a>
                                    {% for footer_category in footer_categories %}
                                        <a class="tag-btn" href="{% url 'blog' %}?category={{ footer_category.slug }}">{{ footer_category.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Social Media -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Follow us</h5>
                                </div>
                                <div class="social-block">
                                    <a href="https://www.linkedin.com/in/rashideveloper/"><i
                                            class="fab fa-linkedin"></i></a>
                                    <a href="https://rashideveloper.t.me"><i class="fab fa-telegram"></i></a>
                                    <a href="https://github.com/rashideveloperr"><i class="fab fa-github"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020, Fuse - All rights reserved.</p>
        </div>
    </div>
</footer>
