<div class="container">
    <div class="subcribe-bar">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="subcribe-bar__content">
                    <h5>Don’t miss our future updates!</h5>
                    <h3>Get Subscribe today!</h3>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p class="ml-3 mb-1">Enter your email here</p>
                <form class="subcribe-bar__form" action="/">
                    <input style="border-radius: 1rem;" type="text" name="email" placeholder="You email" value="{{ user.email }}"/>
                    <button class="btn -normal">Subcribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
