{% extends 'apps/auth/base.html' %}
{% load apps_extras %}
{% load static %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrapper" style="min-width: 500px;min-height: 400px;">
            <div class="logo">
                <img src="{% static 'apps/assets/images/favicon.png' %}" alt="">
            </div>
            <div class="text-center mt-4 name">
                ResetPassword
            </div>
            <form class="p-3 mt-3" action="{% url 'forget_password' %}" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div class="form-field d-flex align-items-center pl-4">
                    <span class="far fa-lock-alt"></span>
                    <input type="password" name="new_password1" placeholder="NewPassword"/>
                </div>
                <div class="form-field d-flex align-items-center pl-4">
                    <span class="far fa-lock-alt"></span>
                    <input type="password" name="new_password2" placeholder="ConfirmPassword"/>
                </div>
                <button class="btn mt-3">ChangePassword</button>
            </form>
        </div>
    </div>
{% endblock %}