{% extends 'apps/parts/base.html' %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block main_content %}
    <div class="post">
        <div class="container">
            <div class="post-standard">
                <div class="post-standard__banner">
                    <div class="post-standard__banner__image">
                        <img src="{{ post.image.url }}" alt="Post banner image">
                    </div>
                    <div class="post-standard__banner__content" style="max-width: 500px; ">
                        <div class="post-card -center">
                            <div class="card__content">
                                {% for category in post.category.all %}
                                    <h5 class="card__content-category">{{ category.name }}</h5>
                                {% endfor %}
                                <a class="card__content-title">{{ post.title }}</a>
                                <div class="card__content-info">
                                    <div class="info__time"><i class="far fa-clock"></i>
                                        <p>{{ post.created_at }}</p>
                                    </div>
                                    <div class="info__comment"><i class="far fa-comment"></i>
                                        <p>{{ post.comment_count }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="post-standard__content">
                            <!-- Post share icons -->
                            <div id="post-share">
                                <h5>Share:</h5>
                                <div class="social-media">
                                    <a href="#" style="background-color: #075ec8">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="#" style="background-color: #40c4ff">
                                        <i class="fab fa-telegram"></i>
                                    </a>
                                    <a href="#"
                                       style="background-image: linear-gradient(to top, #f2a937, #d92e73, #9937b7, #4a66d3), linear-gradient(to top, #af00e1, #ff9e35)">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="#" style="background-color: #ff0000">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- content Starts here -->
                            {{ post.body|safe }}
                            <!-- Post footer -->
                            <br>
                            <br>
                            <div class="post-footer">
                                <div class="post-footer__tags center">
                                    <div class="tags-group">
                                        {% for ctg in post.category.all %}
                                            <a class="tag-btn"
                                               href="{% url 'blog' %}?category={{ ctg.slug }}">{{ ctg.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="post-footer__author">
                                    <div class="author__avatar">
                                        <!-- img size 150 x 150 -->
                                        <img src="{{ post.user.avatar.url }}"
                                             alt="Author avatar">
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author__info">
                                        <h5>{{ post.user.username }}</h5>
                                        {% if post.user.bio %}
                                            <p>{{ post.user.bio }}</p>
                                        {% endif %}
                                        <!-- social Media -->
                                        <div class="social-media">
                                            <a href="#">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-github"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-dribbble"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Related Posts -->
                                <div class="post-footer__related">
                                    <div class="post-footer__related__item -prev">
                                        <!-- <a href="post_standard.html"> <i class="fas fa-chevron-left"></i>Previous posts</a> -->
                                        <div class="post-footer__related__item__content">
                                            <!-- img size 360 x 360 -->
                                            <img src="{{ related_posts.0.image.url }}"
                                                 alt="Relate news image">
                                            <div class="post-card ">
                                                <div></div>
                                                <div class="card__content">
                                                    <h5 class="card__content-category">{{ related_posts.0.category.first.name }}</h5>
                                                    <a class="card__content-title"
                                                       href="{% url 'post' related_posts.0.slug %}">{{ related_posts.0.title }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-footer__related__item -next">
                                        <!-- <a href="#">Next posts<i class="fas fa-chevron-right"></i></a> -->
                                        <div class="post-footer__related__item__content" style="justify-content: end;">
                                            <div class="post-card -right">
                                                <div></div>
                                                <div class="card__content">
                                                    <h5 class="card__content-category">{{ related_posts.1.category.first.name }}</h5>
                                                    <a class="card__content-title"
                                                       href="{% url 'post' related_posts.1.slug %}">{{ related_posts.1.title }}</a>
                                                </div>
                                            </div>
                                            <img src="{{ related_posts.1.image.url }}"
                                                 alt="Relate news image">
                                        </div>
                                    </div>
                                </div>
                                <!-- comments  -->
                                <div class="post-footer__comment">
                                    <h3 class="comment-title"><span>{{ post.comment_set.count }} comment</span></h3>
                                    <div class="post-footer__comment__detail">
                                        {% for comment in post.comment_set.all %}
                                            <div class="comment__item">
                                                <div class="comment__item__avatar">
                                                    <img src="{{ comment.user.avatar.url }}"
                                                         alt="Author avatar" style="border-radius: 999px;">
                                                </div>
                                                <div class="comment__item__content">
                                                    <div class="comment__item__content__header">
                                                        <h5>{{ comment.user.username }}</h5>
                                                        <div class="data">
                                                            <p><i class="far fa-clock"></i>{{ comment.created_at }}</p>
                                                        </div>
                                                    </div>
                                                    <p>{{ comment.text }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if not user.is_anonymous %}
                                        <!-- comment Form -->
                                        <h3 class="comment-title"><span>Leave a comment</span></h3>
                                        <div class="post-footer__comment__form">
                                            <form action="{% url 'comment' %}" method="post">
                                                {% csrf_token %}
                                                <input name="post" value="{{ post.pk }}" hidden>
                                                <input name="user" value="{{ user.pk }}" hidden>
                                                <textarea cols="30" rows="5" placeholder="Messages"
                                                          name="text"></textarea>
                                            <div class="center">
                                                <button class="btn -normal" type="submit">Submit</button>
                                            </div>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}